<link rel="stylesheet" href="/css/services-style.css">
<link rel="stylesheet" type="text/css" href="styles/menu-style.css">
<link rel="stylesheet" type="text/css" href="img/style.css">
<link href="https://fonts.googleapis.com/css?family=Nunito|Oswald|Open+Sans" rel="stylesheet">

<section class="banner" style="background-image: url('/img/services.jpg')">
	<h2 class="titles">Services</h2>
	<p>We provide services aimed at solving the needs of our customers<br> and improving their experience through new technologies.</p>
</section>
<section class="web-dev">
	<h2 class="titles">Web Development</h2>
	<p>We develop web applications focused on the solution of the needs of our clients, as well as develop multiplatform websites so that the users of our clients can access from any device to these.</p>
	<img src="/img/desarrollo-web2.png">
</section>

<section class="mobile-apps">
	<h2 class="titles">Mobile apps development  </h2>
	<p>We develop mobile applications designed to improve the user experience and optimized to improve performance in mobile phones and to the taste of the customer.
	</p>
	<img src="/img/mobile-apps.png">
</section>

<section class="software-dev">
	<h2 class="titles">Software Development</h2>
	<p>
	We develop customized software for any purpose in order to facilitate the processes that the client wants to systematize, always aiming at the improvement and security of your company or company</p>
	<img src="/img/software-dev.png">
</section>

<section class="database">
	<h2 class="titles">Database Management</h2>
	<p>
	We structure and manage complex data bases related to any type of company, as well as develop and manage them for our clients by providing quality and organization in them.</p>
	<img src="/img/databases.png">
</section>